{% extends 'base.html.twig' %}

{% block title %}Gérer les comptes{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/backgroundIcons.css') }}">
    {% include 'header.html.twig' %}
    <section id="allUsers" style="padding: 70px 25%;height: 90vh"></section>
    {% include 'footer.html.twig' %}
    <script src="{{ asset('js/accountManage.js') }}"></script>
{% endblock %}