html, body
{
    height: 100%;
}

body
{
    height: 100vh;
}

main
{
    display: flex;
    height: auto;
}

.select
{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cccccc;
    margin: auto;
    overflow-y: scroll;
    height: 100vh;
}

.content
{
    margin: 1%;
    background-color: white;
    border-radius: 15px;
    width: 90%;
}

.content>h2
{
    margin-left: 5%;
    font-size: 1.5em;
}

.element
{
    margin:auto;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 70%;
    padding: 3%;
}

.element:hover, .element:active, .element:focus
{
    color: black;
    text-decoration: none;
}

.element h1
{
    font-size: 1.5em;
    text-align: center;
    margin: 0 0 0 5%;
}

.element i
{
    font-size: 1.5em;
    padding: 25%;
    border-radius: 50%;
    color: white;
}

.element article
{
    padding: 1%;
}

.main
{
    flex-basis: 80%;
    background-color: #cccccc;

}

.post
{
    display: flex;
    padding: 2%;
    margin: 2%;
}

.about
{
    flex-basis: 30%;
    background-color: white;
    border-radius: 15px;
    margin: 1%;
    padding: 1%;
}

.post-create
{
    flex-basis: 70%;
    background-color: white;
    border-radius: 15px;
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-create>form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-create>form>*
{
    margin: 1%;
    display: inline-flex;
}

form input
{
    margin-left: 5px;
}