html, body {
    height: 100%;
}

body {
    overflow-y: hidden;
    height: 85vh;
}

main {
    display: flex;
    height: 85vh;
}

.select {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cccccc;
    padding: 1%;
    margin: 0;
    overflow-y: scroll;
    height: 85vh;
}

.content {
    margin: 1%;
    background-color: white;
    border-radius: 15px;
    width: 90%;
}

.content > h2 {
    margin-left: 5%;
    font-size: 1.5em;
}

.element {
    margin: auto;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 70%;
    padding: 3%;

}

.element:hover, .element:active, .element:focus {
    color: black;
    text-decoration: none;
}

.element h1 {
    font-size: 1.5em;
    text-align: center;
    margin: 0 0 0 10%;
}

.element i {
    font-size: 1.5em;
    padding: 25%;
    border-radius: 50%;
    color: white;
}

.element article {
    padding: 1%;
}

.main {
    flex-basis: 80%;
    background-color: #cccccc;
    overflow-y: scroll;
    height: 85vh;
    padding-bottom: 1%;
}

.post {
    display: flex;
    padding: 2%;
    margin: 2%;
}

#post_content {
    max-height: 200px;
    min-height: 100px;
    overflow-y: scroll;
    max-width: 300px;
    min-width: 200px;
}

.about {
    flex-basis: 30%;
    background-color: white;
    border-radius: 15px;
    margin: 1%;
    padding: 1%;
}

.post-create {
    flex-basis: 70%;
    background-color: white;
    border-radius: 15px;
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-create > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-create > form > * {
    margin: 1%;
    display: inline-flex;
}

form input {
    margin-left: 5px;
}

.last-post-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.last-post-element {
    margin: 1%;
    min-width: 300px;
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #cccccc;
    padding: 1%;
    transition-duration: 0.5s;
}

.last-post-element, .last-post-element:hover, .last-post-element:focus, .last-post-element:active {
    text-decoration: none;
    color: black;
}

.last-post-element:hover {
    background-color: #e6e6e6;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

.selectresponsive{
    display: none;
}


@media screen and (min-width: 726px) and (max-width: 1024px) {
    .select {
        flex-basis: 40%;
    }

    .post {
        flex-wrap: wrap;
    }

    .about {
        flex-basis: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .post-create {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .match{
        height: auto !important;
    }

    .selectresponsive{
        display: none;
    }

}


@media screen and (min-width: 0px) and (max-width: 726px){
    .post{
        flex-direction: column;
    }

    main{
        flex-direction: column;
        height: 100vh;
    }

    .match{
        height: auto !important;
    }

    .select{
        display: none;
    }

    .element h1{
        overflow: auto;
    }

    .selectresponsive{
        display: flex;
        flex-direction: row;

    }





}
