
.inputCreateTeam{
    width: 400px;
    height: 35px;
    border-radius: 8px;
}



.formCreateTeam{

    background-color: rgba(255,255,255,0.7);
    border: solid 1px black;
    width: 87%;
    height: 450px;
    text-align: center;
    border-radius: 25px;
    margin: 10px auto;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.formCreateTeam h1{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    color: black;
}
.logAndTitle{
    display: flex;
    flex-direction: column;
}

.logAndTitle img{
    width: 50%;
    min-width: 70px;
    margin: auto;
}

.formCreateTeam .fullForm{
    display: flex;
    height: 90%;
}

.formCreateTeam form{
    height: 90%;
    width: 80%;
    margin-top: 25px;
}

.labelForm{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 35%;
    /* background: blue; */
    justify-content: space-around;
}
.labelForm label{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 25px;
    height: 40px;
}

.inputForm{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: auto;
    /* background: blue; */

    justify-content: space-around;
}

.inputForm input,textarea{
    display: flex;
    justify-content: center;
    border: none;
    border-bottom: 3px solid black;
    font-size: 25px;
    width: 100%;
}



.formCreateTeam button{
    width: 25%;
}


.main{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/*.formCreateTeam div{*/
/*    display: flex;*/
/*    width: 50%;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    justify-content: space-between;*/
/*}*/

/*.formCreateTeam label{*/
/*    font-size: 20px;*/
/*}*/


/*.formCreateTeam form{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 10px;*/
/*}*/


/*.formCreateTeam form input{*/
/*    width: 300px;*/
/*}*/

/*.formCreateTeam button{*/
/*    width: 25%;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*}*/

@media screen and (min-width: 726px) and (max-width: 1024px) {

    .main{
        height: 90vh;
    }

    .formCreateTeam{
        margin: auto 0 auto 0;
        width: 100%;
    }

}