main
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    color: black;
    margin: 10px 0 10px 0;
}



.formGetMatches
{
    flex-basis: 20%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    width: 25%;
    margin: 10px auto 10px;
    border: solid 1px forestgreen;
    border-radius: 12px;
}

.form{

    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    gap: 15px;
}


.content{
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    height: 80vh;
    overflow-y: scroll;
}

article select
{
    min-width: 100% ;
    max-width: 100% ;
}

.list-group-item{
    background-color: rgba(255,255,255,0.8);
    width: 95%;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    border: solid 1px forestgreen;
}

.list-group-item>section{
    text-align: center;
    display: flex;

}

.list-group-item:hover{
    transition: 0.5s;
    background-color: rgba(255,255,255,0.8);
}

.list-group-item-heading{
    width: 80%;
    align-self: center;
}
.list-group-item-text{
    width: 20%;
    color: black;
    border-right: solid 1px forestgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 726px) and (max-width: 1024px) {
    .formGetMatches select{
        min-width: 100% !important;
        max-width: 100% !important;
    }

}