.contact {
    background-color: #f8f9f9;
    display: flex;
    align-self: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
}

.contact-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contact-container > h1 {
    width: 100%;
}

.infos {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 48%;
}

.contact-container > iframe {
    width: 50%;
    padding: 2%;
}

.infos > * {
    text-transform: uppercase;
    color: #666;
    padding-top: 2%;
}

.infos i {
    background-color: #aaaaaa;
    padding: 6px;
    border-radius: 70%;
    color: white;
    font-size: 1.5em;
}

.contact-element {
    text-decoration: none;
    color: black;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    padding: 2%;
}

.contact-element:hover i {
    color: forestgreen;
    transition-duration: 0.5s;
}

.contact-element p {
    margin: 0 0 0 1%;
}

@media screen and (min-width: 726px) and (max-width: 1024px) {
    .contact-container{
        width: 85%;
    }
}

@media screen and (max-width: 768px) {
    .contact-container>iframe
    {
        display: none;
    }

    .infos{
        width: 100%;
    }

    .contact-container{
        width: 95%;
    }

}