/* Banner */
.banner
{
    width: 100%;
    z-index: -1;
}

header
{
    color: #ffffff;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.logo
{
    flex-basis: 10%;
    text-align: center;
}

header img
{
    min-width: 70px;
    width: 7%;
}

header>a, header>section
{
    position: relative;
}

header>img
{
    position: absolute;
    filter: brightness(50%);
    width: 100%;
}

.sidebar
{
    flex-basis: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: 50px;
}

.tiers
{
    width: 15%;
}

.tiers>ul
{
    display: none;
}

.tiers:hover
{
    cursor: pointer;
}

.tiers:hover>ul
{
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.7);
    border-radius: 8px;
}

.tiers li
{
    height: 50px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tiers li a
{
    color: #ffffff;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

.tiers li:hover
{
    background-color: forestgreen;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    width: 100%;
    transition: transform 500ms ease;
    transition-property: background-color;
}

.tiers h2
{
    text-transform:uppercase;
    display: inline-block;
    margin: 0;
    color: #c9c9c1;
}

.tiers h2:after
{
    display:block;
    content: '';
    border-bottom: solid 3px gray;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.tiers:hover>ul
{
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top:auto;
    width: auto;
}

.tiers:hover h2:after
{
    transform: scaleX(1);
}