@import url(https://fonts.googleapis.com/css?family=Raleway:400,200);
ul {
    padding-left: 0;
}
#menuToggle{
    display: none;
}

/* Banner */
.banner
{
    width: 100%;
}

header
{
    color: #ffffff;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.logo
{
    flex-basis: 10%;
    text-align: center;
}

header img
{
    min-width: 70px;
    width: 7%;
}

header>a, header>section
{
    position: relative;
}

header>img
{
    position: absolute;
    filter: brightness(50%);
    width: 100%;
    height: 15vh;
}

.sidebar
{
    flex-basis: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: 50px;
    z-index: 1;
}

.tiers
{
    width: 15%;
}

.tiers>ul
{
    display: none;

}

.tiers:hover
{
    cursor: pointer;
}

.tiers:hover>ul
{
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.7);
    border-radius: 8px;
}

.tiers:focus
{
    cursor: pointer;
}

.tiers:focus>ul
{
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.7);
    border-radius: 8px;
}



.tiers li
{
    height: 50px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tiers li a
{
    color: #ffffff;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

.tiers li:hover
{
    background-color: forestgreen;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    width: 100%;
    transition: transform 500ms ease;
    transition-property: background-color;
}

.tiers li:focus
{
    background-color: forestgreen;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    width: 100%;
    transition: transform 500ms ease;
    transition-property: background-color;
}


.tiers h2
{
    text-transform:uppercase;
    display: inline-block;
    margin: 0;
    color: #c9c9c1;
}

.tiers h2:after
{
    display:block;
    content: '';
    border-bottom: solid 3px gray;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.tiers:hover>ul
{
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top:auto;
    width: auto;
}

.tiers:focus>ul
{
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top:auto;
    width: auto;
}


.tiers:hover h2:after
{
    transform: scaleX(1);
}


@media screen and (min-width: 726px) and (max-width: 1024px) {
    .logo{
        display: none;
    }
    .sidebar{
        flex-basis: 100%;
    }
    .tiers ul{
        width: 200% !important;
    }

    .connexion ul{
        width: 110% !important;
    }

}

@media screen and (max-width: 726px){
    .header{
        display: inherit !important;
    }




    #menuToggle
    {
        display: block;
        position: relative;
        top: 50px;
        left: 50px;

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle li
    {
        text-decoration: none;
        color: #232323;

        transition: color 0.3s ease;
    }


    #menuToggle input
    {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    #menuToggle span
    {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
        transform-origin: 0% 100%;
    }

    /*
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #menu
    {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;

        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
        padding: 10px 0;
        font-size: 22px;
    }

    /*
     * And let's slide it in from the left
     */
    #menuToggle input:checked ~ ul
    {
        transform: none;
    }


}
