html{
    background-color: beige;
}

/*-------Animation of the images's header-------*/
.pic-ctn {

    height: 200px;
}

@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    20% {
        transform: translateX(0);
        opacity: 1;
    }
    30% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}

.pic-ctn {
    position: relative;
    width: 100vw;
    height: 300px;
    margin-top: 15vh;
}

.pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
}

img:nth-child(2) {
    animation-delay: 2s;
}
img:nth-child(3) {
    animation-delay: 4s;
}
img:nth-child(4) {
    animation-delay: 6s;
}
img:nth-child(5) {
    animation-delay: 8s;
}


.sidebar{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    height: 100px;
}

.tiers{
    width: 15%;
    height: 25%;
}

.tiers>ul{
    display: none;
}


.tiers:hover >ul{
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #FFFFFF;
}




.tiers:hover li{
    margin-bottom: 5px;
    background-color: white;
    color: black;
    width: 100%;
}

.tiers h2{
    text-transform:uppercase;

}

.tiers h2:after{
    display:block;
    content: '';
    border-bottom: solid 3px gray;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.tiers h2:hover:after { transform: scaleX(1); }

/*.separatorRigth{*/
/*    width: 100%;*/
/*    background-color: red;*/
/*    border-left: 100vh;*/
/*    -webkit-clip-path: polygon(100% 17%, 0 0, 100% 0);*/
/*    clip-path: polygon(0 12%, 0 0, 100% 0);*/
/*    border-bottom: 13.9vh solid transparent;*/
/*    margin-top: 13.9vh;*/
/*    z-index: 1;*/

/*}*/


/*.separatorLeft{*/
/*    z-index: 1;*/
/*    width: 100%;*/
/*    background-color: red;*/
/*    border-left: 100vh;*/

/*    border-bottom: 13.9vh solid transparent;*/
/*    margin-top: -13.9vh;*/
/*}*/



.main{
    height: 500px;
}

.sectionMain1{
    height: 40%;
    background-color: red;
    clip-path: polygon(0 17%, 100% 0, 100% 82%, 0% 100%);
}
.sectionMain2{
    height: 40%;
    background-color: green;
    clip-path: polygon(0 17%, 100% 0, 100% 82%, 0% 100%);
}

