*{
    scroll-behavior: smooth;
}

p {
    text-align: center;
}

/*---------------------About section------------------*/

.pic-ctn{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
}

.pic-ctn img{
    width: auto;
}

.pic-ctn h1{
    width: 100%;
    text-align: center;
}

.aboutOur{
    width: 50%;

}


/*---------------------Transition---------------------*/






/*--------------------- news -----------------------*/
.news
{
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.news-content
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.news-element
{
    margin: 1%;
    min-width: 300px;
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #f2f2f2;
    padding: 1%;
    transition-duration: 0.5s;
}

.news-element, .news-element:hover, .news-element:focus, .news-element:active
{
    text-decoration: none;
    color: black;
}

.news-element:hover
{
    background-color: #e6e6e6;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
    transform: scale(1.1);
}

.notHover
{
    filter: blur(2px);
}

.hover .news-element-img
{
    filter: blur(0px);
}

:not(.news-element:hover){
    transition-duration: 0.8s;
}

.news-element-img
{
    filter: blur(2px);
    max-width: 300px;
    max-height: 200px;
}

.news-content:hover > :not(:hover)
{
   /* filter: blur(2px);*/
    transition-duration: 0.8s;
}

.news-content:not(.news-content:hover)
{
    filter: blur(0px);
    transition-duration: 0.8s;
}

.page
{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

.page-link-li
{
    margin-top: 1%;
    list-style: none;
    color: white;
    padding: 1%;
}

.page-link-a
{
    background-color: grey;
    border-radius: 10px;
    transition: 200ms ease;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.page-link-a:hover
{
    background-color: forestgreen;
    text-decoration: none;
    color: white;
}

.page-link-link a:active {
    background-color: forestgreen;
    color: white;
    text-decoration: none;
}
/*----------------Matches sections-----------------*/
.match{
    display: flex;
    justify-content: space-around;
    height: 400px;
    align-items: center;
    background-color: #f2f2f2;
    flex-wrap: wrap;
}

h2 {
    color: #666;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
}

.matchSection{
    background-color: #333333;
    height: 300px;
    min-width: 500px;
    width: 40vw;
    border-radius: 12px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.25);
    margin: 1em;
    color: white;
}

.matchSection > legend{
    border: none;
}

legend>h2{
    background-color: #333333;
    box-shadow: 0 -2px 5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    border: 1px solid #333333;
    padding: 0 0.3em 0 0.3em;
    color: white;
}

.matchSection table, .matchSection tbody {
    width: 100%;
}

.matchSection td {
    text-align: center;
}

.next-match-team1, .next-match-team2 {
    font-size: 1.5em;
    width: 35%;
    padding: 0.2em;
}

.matchContent > tr:nth-child(2) > td:nth-child(2n+1) {
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}

.next-match-time {
    border: 1px solid #000000;
    background-color: #DDDDDD;
    font-size: 3em;
    color: #1b1b1b;
    box-shadow: inset 0 7px 15px 1px #1b1b1b;
}

.matchContent > tr {
    height: 4em;
}

.next-match-date, .next-match-location, .next-match-remaining-time {
    font-size: 1.5em;
}



/*.separatorRigth{*/
/*    width: 100%;*/
/*    background-color: red;*/
/*    border-left: 100vh;*/
/*    -webkit-clip-path: polygon(100% 17%, 0 0, 100% 0);*/
/*    clip-path: polygon(0 12%, 0 0, 100% 0);*/
/*    border-bottom: 13.9vh solid transparent;*/
/*    margin-top: 13.9vh;*/
/*    z-index: 1;*/


/* -------------Contact----------------*/




