{% extends 'base.html.twig' %}


{% block title %}Voir une équipe{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/allMatches.css') }}">
    {% include 'header.html.twig' %}

    <main>
        <aside>
            <article>
                <label for="category">Par catégorie</label>
                <select name="category" id="category">
                    <option value="all" selected>Toutes les catégories</option>
                </select>
            </article>
            <article>
                <label for="gymnase">Par gymnase</label>
                <select name="gymnase" id="gymnase">
                    <option value="all" selected>Tous les gymnases</option>
                </select>
            </article>
            <article>
                <label for="domicile">Domicile</label>
                <input type="checkbox" id="domicile" name="domicile" value="true">
            </article>
        </aside>
        <section class="content"></section>
    </main>
    <script src="{{ asset('js/transitionBottomTop.js') }}"></script>
    <script src="{{ asset('js/matchs.js') }}"></script>
{% endblock %}


