{% block matchPreview %}
    <section class="match reveal_bottom">
        <fieldset class="nextMatch matchSection">
            <legend><h2>Prochain match</h2></legend>
            <table>
                <tbody class="matchContent">
                <tr>
                    <td class="next-match-date" colspan="3"></td>
                </tr>
                <tr>
                    <td class="next-match-team1"></td>
                    <td class="next-match-time"></td>
                    <td class="next-match-team2"></td>
                </tr>
                <tr>
                    <td class="next-match-location" colspan="3">
                        <i class="bi bi-geo-alt"></i>
                    </td>
                </tr>
                <tr>
                    <td class="next-match-remaining-time" colspan="3"><p></p></td>
                </tr>
                </tbody>
            </table>
        </fieldset>

        <fieldset class="lastMatch matchSection">
            <legend><h2>Match précédent</h2></legend>
            <table>
                <tbody class="matchContent">
                <tr>
                    <td class="last-match-date" colspan="3"></td>
                </tr>
                <tr>
                    <td class="last-match-team1"></td>
                    <td class="last-match-time"></td>
                    <td class="last-match-team2"></td>
                </tr>
                <tr>
                    <td class="last-match-location" colspan="3">
                        <i class="bi bi-geo-alt"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </section>
    <script src="{{ asset('js/matchesPreview.js') }}"></script>
{% endblock %}