{% extends 'base.html.twig' %}

{% block title %}404 Erreur{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/error404.css') }}">
    <div class="site">
        <div class="sketch">
            <div class="bee-sketch red"></div>
            <div class="bee-sketch blue"></div>
        </div>
        <h1>404: <small>Page inexistante</small></h1>
    </div>
{% endblock %}