{% extends 'base.html.twig' %}

{% block title %}500 Erreur{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/error500.css') }}">
    <div>
        <span class='error-num'>5</span>
        <div class='eye'></div>
        <div class='eye'></div>
        <p class='sub-text'>Oh, les globes oculaires! Quelque chose a mal tourné. Nous <i>essayons</i> de comprendre ce qui s'est passé.</p>
        <a href="{{ path('app_home') }}">Retour à l'accueil</a>
    </div>

    <script src="{{ asset('js/error500.js') }}"></script>
{% endblock %}
